:root {
	--yellow: #f4e041;
	--yellow-hover: #ffe302;
	--blue: #00bdd3;
	--light-grey: #f8f8f8;
	--dark-grey: #7e7e7e;
	--grey: #b4b4b4;
	--error: #cb3d40;
	--black-87: rgba(0, 0, 0, 0.87);
	--white: #fff;
	--white-87: rgba(255, 255, 255, 0.87);
}
