.form {
	&__wrap {
		margin: 0 auto;
		max-width: 380px;
	}

	&__inputs-wrap {
		margin: 0 0 23px;
	}

	&__btn {
		margin: 50px auto 0;
	}

	&__success-image-wrap {
		width: 100%;
		max-width: 328px;
		margin: 0 auto;
	}

	&__success-image {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&__error-text {
		margin: 0 0 20px;
	}

	& .MuiInputLabel-root {
		font-size: 16px;
		left: 3px;

		&.Mui-error {
			color: var(--error);
		}
	}

	& .MuiOutlinedInput-input {
		padding: 15.5px 16px;
	}

	& .MuiFormHelperText-root {
		margin-left: 17px;
		font-size: 14px;
	}

	& .MuiFormLabel-root,
	& .MuiFormLabel-root.Mui-focused {
		margin: 0 0 8px;
		color: var(--black87);

		&.MuiInputLabel-root,
		&.MuiInputLabel-root.Mui-focused {
			color: var(--dark-grey);
		}
	}

	& .MuiButtonBase-root {
		padding: 4px 9px;
	}
}
