@import 'src/styles/mixins/media';

.container {
	width: 100%;
	max-width: 1290px;
	margin: 0 auto;
	padding: 0 60px;
	position: relative;

	&_hero {
		z-index: 2;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	& .MuiCircularProgress-root {
		margin: 0 auto;
		display: block;
	}

	@include media-max(md) {
		padding: 0 32px;
	}

	@include media-max(xs) {
		padding: 0 16px;

		&_hero {
			justify-content: flex-start;
		}
	}
}
