@import 'src/styles/mixins/media';

.container {
	width: 100%;
	max-width: 1290px;
	margin: 0 auto;
	padding: 0 16px;

	@include media-min(xs) {
		padding: 0 32px;
	}

	@include media-min(md) {
		padding: 0 60px;
	}
}
