.card {
	padding: 20px;
	background: var(--white);
	border-radius: 10px;
	text-align: center;
	max-width: 570px;

	&__image-wrap {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto 20px;
	}

	&__image {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&__name span,
	&__list-item span {
		line-height: 1.625;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-line-clamp: 1;
		text-overflow: ellipsis;
		overflow: hidden;
		position: relative;
	}

	&__name {
		margin: 0 0 20px;
	}
}
